In [1]:
a = 5
print(a)

5

### Here we gave a variable named as "a" and we assign a value to it which is 5 
### with that we print out "a" which has a value of 5

### Getting type of a string and a number using `type`

In [6]:
d = 5
print(type(d))  # shows integer

e = "Random"
print(type(e))  # shows string

<class 'int'>
<class 'str'>

In [2]:
# adding numbers
b = 10
c = a + b # adding 2 numbers and storing it to a variable named "c"
print(c)

15

#### Here a new variable c is created which is the addition of a and b

### Concatenation means the addition of strings

In [3]:
# concatenation
var_a = "My Name is john"
var_b = "My age is 20"

concatenated_variable = var_a + " " + var_b # adding 2 strings
print(concatenated_variable)

My Name is john My age is 20

### we cannot concatenate a string with an integer

In [4]:
# concatenation
var_a = "John's age is: "
var_b = 20

concatenated_variable = var_a + " " + var_b # we'll get an error if we add a string with a number
print(concatenated_variable)

TypeError: can only concatenate str (not "int") to str

### Using Input to take `name` and `age` of user

In [8]:
name = input("What's your name: ")
age = input("What's your age: ")
print(name + " " + "age is " + age)

What's your name:  John
What's your age:  20

John age is 20

### Formatted string make it more easy to write multiple variables in a string

In [10]:
# Using formatted string 
print(f"{name}'s age is {age}")

John's age is 20

# Small Home Work
Take an input of a house details and you'll be taking input of `house name`, `city`and `country`
Then make a variable named as `house_details` and concatenate it there
#### For example: `'Eden Garden is located at Ankara in Turkey'`